.add-game-dropdown:hover{
  cursor: pointer;
}
.add-game-dropdown{
  margin: 0px;
  padding: 0px;
  border-radius: 4px;
  color: white;
}

.add-game-dropdown h4{
  width: auto;
  background-color: #9ad3de;
  margin: 0px;
}

.add-game-dropdown li{
  color: white;
  background-color: #9ad3de;
  font-size: 24px;
  list-style-type: none;
  margin-bottom: 2px;
  border-radius: 4px;
  width: 95%;
}



.add-game-dropdown input{
  float:right;
}
