.game-div img {
  height: 170px;
  width: 170px;
  margin-right: 15px;
}

.game-div input {
  width: 170px;
}

.game-div h3 {
  display: inline-block;
  width: 500px;

}

.game-div h3 a {
  color: white;
}

.game-div {
  margin-bottom: 20px;
}

.game-div h3 p {
  margin-top: 5px;
  display: inline-block;
  font-size: 12px;
  display: block;
}

.game-title-div{
  width: 500px;
  height: 33px;
  background-color: #9ad3de;
}
