.game-div img {
  height: 170px;
  width: 170px;
  margin-right: 15px;
  margin-left: 5px;
}

.shelves-div-div {
  background-color: white;
  height: 100%;
}

.shelves-div-div h1 {
  background-color: white;
  margin: 0px;
  padding-top: 15px;
  margin-bottom: 20px;
}

.game-div input {
  width: 170px;
}

.game-desc {
  width: 600px;
  float:right;
  height: 203px;
}

.game-div h3 {
  display: inline-block;
  width: 600px;
  background-color: #9ad3de;
  margin:0px;
  padding-left: 10px;
}

.game-div input {
  margin-left: 5px;
}

.game-div h3 a {
  color: white;
}

.remove-from {
  display: inline-block;
  width: 180px;
}

.game-div {
  margin-bottom: 20px;
  background-color: white;
  height: 220px;
}


.game-div-inner {
  width: 780px;
  display: inline-block;
  float: right;
}

.game-div h3 p {
  margin-top: 5px;
  display: inline-block;
  font-size: 12px;
  display: block;
}

.game-title-div{
  width: 500px;
  height: 33px;
  background-color: #9ad3de;
  padding-left: 10px;

}
