.navbar-home{
  display: inline-block;
  float: right;
}

.navbar-logout {
  float: right;
  display: inline-block;
}
.logout-button {
  display: inline-block;

}

.nav-search {
  height: 44px;
  width: 400px;
}
.nav-search input {
  display: inline-block;
  float: left;
}

.nav-search  {
  display: inline-block;
  float: right;
}
