.navbar-home{
  display: inline-block;
  float: right;
}

.navbar-logout {
  float: right;
  display: inline-block;
}
.logout-button {
  display: inline-block;

}


.nav-button {
  float: right;
  border:none;
}

.nav-search-div {
  width: 200px;
  height: 30px;
}

.nav-search input {
  width: 350px;
}

.nav-search label{
  cursor: pointer;
}
