// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reviews ul{
  display: block;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
}

.reviews li {
  list-style-type: none;
  text-align: left;
}

.new-review {

  text-align: left;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
}

.new-review .button{
  float: right;
}

.text-box {
  position: relative;
  padding: 0 0 85px;
  width: 580px;
  font-size: 14px;
  transition: none;
  overflow: scroll;
  margin: 10px;

}
.rating{
  color: red;
}
