// Place all the styles related to the searches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.searchbar {
  width: 800px;
  margin: 10px;
  margin-left: 70px;
}

.search-results {
  list-style: none;
}

.search-results h1{
  color: #89bdd3;
  margin-top: 0px;
  padding-top: 15px;
  margin-left: 15px;
}

.search-results li {
  margin-left: 70px;
}

.search-results h4 {
  margin-left: 70px;
  color: #c9c9c9
}
