// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signin-div-right{
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/46/A_Game_Of_Thrones_board_game_detail.jpg);
  background-size: 1500px;
  height: 800px;
  // height: 100%;
}

.signin-div-right h1 {
  margin-top: 0px;
  color: white;
  font-size: 110px
}
.signin-form {
  margin-top: 20px;
  height: 200px
}

.signin-form input {
  width: 70%;
  margin-bottom: 15px;
  display:inline-block;
}



.form-header {
  color: white;
  border: 1px solid #c9c9c9;
  margin: 0px;
  background-color: #89bdd3
}

.form-text {
  font-size: 13px;
  margin: 0px
}

.new-user-forms{
  position: fixed;
  top: 33%;
  left: 23%;
  display: inline-block;
  margin: auto;
  width: 605px;
  background-color: #ffffff;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    display: inline-block;
    color: white;
    background-color: #89bdd3;
    border: 1px solid #9ad3de;
    border-radius: 3px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    line-height: 1;
    padding: 9px 13px;
}

.already-user {
  background-color: white;
  border: 1px solid #c9c9c9;
  border-radius: 4px;
}
