// Place all the styles related to the shelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.delete-icon:hover{
  cursor: pointer;

}

.edit-link {
  float: right;
  margin-right: 10px
}

#edit-rename{
  width: 450px;
  float: left;
  display: inline-block;
}
.edit-shelf-title-label{
  float: left;
}

.shelves-div {
  display: inline-block;
  width: 1000px;
  height: 150px
}



.shelf-link {
  width: 100%;
  display: inline-block;
  color: black;
  font-size: 24px;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  color: white;
  background-color: #89bdd3;
  border: 1px solid #9ad3de;
  border-radius: 3px;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  line-height: 1;
  padding: 9px 13px;
}
.shelf-link:link {
  text-decoration: none;
}

.shelf-names-div {
  overflow-y: scroll;
  height: 120px;
  position: relative;
}


.shelves-header-text {
  margin: 0px;
  border: 0px;
  padding: 0px;
  padding-left: 15px;
  font-size: 32px;
  height: 38px;
  text-transform: uppercase;
  text-align: left;
}

.shelves-header {
  background-color: #9ad3de;
  color: white;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.shelf-div:hover {
  background-color: #9ad3de;
  cursor: pointer;
}

.shelf-div #active {
  background-color: #9ad3de
}

.shelf-div {
  text-align: center;
  display: inline-block;
  width: 315px;
  margin: 5px;
}

.shelf-label:hover {
  cursor: pointer;
}

.new-shelf-div{
  height: 80px;
  width: 200px;
  border: 1px solid #9ad3de;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  float: right;

}

.delete-icon {
  margin-right: 15px;
  width: 20px;
  height: auto;
  display: inline-block;
  float: right;
}

.add-shelf-button {
  float: right;
  bottom: 0px;
  margin-top: 5px;
}
