// Place all the styles related to the shelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shelf-sidebar{
  float: left;
  display: inline-block;
  width: 200px;
  height: 800px
}


.shelves-div {
  display: inline-block;
  height: 200px;
  width: 1000px;
}

.shelf-link {
  width: 100%;
  display: inline-block;
  color: black;
}
.shelf-link:link {
  text-decoration: none;
}

.shelf-names-div {
  overflow-y: scroll;
  height: 100px
}


.shelves-header-text {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.shelves-header {
  background-color: #3b5998;
  color: white;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.shelf-div:hover {
  background-color: #8b9dc3;
  cursor: pointer;
}

.shelf-div {
  display: inline-block;
  width: 333px;
}

.shelf-label:hover {
  cursor: pointer;
}

.new-shelf-div{
  height: 80px;
  width: 200px;
  border: 1px solid #8b9dc3;
  border-radius: 4px;
  text-align: center;

}
