.add-self-edit {
  width: 400px
  border 1px solid black;
  text-align: center;
}

.edit-div {
  width: 400px;
  height: auto;
  margin: 30px;
  margin-left: 25%
}

.edit-shelf-title{
  float: left;
  display: inline-block;
  width: 345px;
  font-size: 20px;
}

.edit-div-item {
  height: 40px;
}


.edit-shelf-title{
  display: inline-block;
}

.shelf-edit-form {
  display: inline-block;
  width: 345px
}

.edit-content {
  margin-top: 20px;
  height: 30px;
  border-bottom: 1px solid black;
}

.edit-content div {
  display: inline-block;
  float: right;
  font-size: 20px;
  margin: 5px
}

#edit-shelf-label{
  float: left;
}


#field-topsearch{
  margin: 5px;
  float: left;
  width:70%;
  display:inline-block;
}
