// Place all the styles related to the shelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.shelves-div {
  display: inline-block;
  height: 200px;
  width: 1000px;
}

.shelves-header {
  background-color: #3b5998;
  color: white;
}

.shelf-div:hover {
  background-color: #8b9dc3;
  cursor: pointer;
}

.shelf-div {
  display: block;
}

.shelf-label:hover {
  cursor: pointer;
}
