.shelf-sidebar{
  float: left;
  display: inline-block;
  width: 200px;
  height: auto;
  background-color: white;
}

.shelf-item-sidebar-div {
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
}

.shelf-item-sidebar-div:hover {
  background-color: #9ad3de;
}


.shelf-item-sidebar{
  margin-left: 5px;
}

.shelves-edit-label {
  text-decoration: none;
  display: inline-block;
  float: right;
  font-size: 15px;
  color: white;
  margin-top: 5px
}

.shelves-edit-label:hover{
  cursor: pointer;
}

#side-button {
  width: 200px;
}
