.add-self-edit {
  width: 400px
  border 1px solid black;
  text-align: center;
}

.edit-div {
  width: 800px;
  height: auto;
  margin: 30px;
  margin-top: 0px;
  padding-top: 10px;
  margin-left: 12%;
}

#field-topsearch {
  width: 500px;
}

.edit-shelf-title{
  float: left;
  display: inline-block;
  width: 675px;
  font-size: 20px;
}

.edit-div-item {
  height: 40px;
  width: 740px;
}


.shelf-edit-form {
  display: inline-block;
  width: 645px
}

.shelf-edit-form input{
  margin-right: 10px
}

.edit-content {
  width: 92%;
  margin-top: 20px;
  height: 30px;
  border-bottom: 1px solid black;
}

.edit-content div {
  display: inline-block;
  float: right;
  font-size: 20px;
  margin: 5px
}

#edit-shelf-label{
  float: left;
}


#field-topsearch{
  margin: 5px;
  float: left;
  width:70%;
  display:inline-block;
}
