

.signin-create-div{
  color: black;
  text-align: center;
  max-width: 500px;
  margin: auto;
  box-shadow: 3px 3px 10px  black;
}

.words-div h2{
  color: white;
  text-align: left;
  display: inline-block;
  font-size: 58px;
  margin-left: 10px;
  margin-right: 20px;
  font-family: 'Lobster', cursive;
  text-shadow: 3px 3px black;
}

.signin-create-div h3 {
  display: inline-block;
  color: white
}

.center-div {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.sign-in-buttons h3{
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

.sign-in-buttons {
  text-align: center;
  background-color: #89bdd3;
  color: white;
}

.splash-blank {
  color: white
}

.splash-blank h2{
  margin: 20px;
  font-size: 60px;
}

.signin-form-div{
  display: inline-block;
  align-self: center;
  text-align: center;
  float: right;
  background: white;
  width: 100%;
  border-radius: 4px;
}

.new-user-form-div{
  display: inline-block;
  width: 100%;
  align-self: center;
  text-align: center;
  float: right;
  background: white;
}

.new-user-form-div input {
  width: 70%;
  margin-bottom: 15px;
}

.not-selected{
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;}
