// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-class {
  font-family: 'Open Sans', sans-serif;


}

html {
  padding: 0px;
  margin: 0px;
  background-color: #e3e3e3;

}

.total-content {
  background-color: #e3e3e3;
}



body {
  background-color: #e3e3e3;
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.current-content {
  background-color: white;
  width: 1000px;
  margin-left: 10%;
  min-height: 800px;
}

.current-content h1 {
  color: #89bdd3;
  margin-top: 0px;
  padding-top: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.logo {
  width: 100px;
  height: auto;
}

.logo-div {
  background-color: #9ad3de;
  padding: 0px;
  border-top: 0px;
  margin-top: 0px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .82);
}

.current-user-img {
  float: left;
  display: inline-block;
  width: 120px;
  height: auto;
  margin-left: 32px;
  margin-top: 15px
}

.current-user-img-div{
  height: 200px;
  width: 200px;
  display: inline-block;
  float: left;
}



.current-user-name {
  margin-top: 15px;
  width: 600px;
  float:left;
  font-size: 25px;
  display: inline-block;
}

.current-user-name h3 {
  background-color: #9ad3de;
  color: white;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

current-content div {
  background-color: white;
}


.game-displays {
  height: auto;
  display:inline-block;
  float: right;
  width: 780px;
  margin-top: 15px;
  background-color: white;
}
