// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-class {
  font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;

}

.current-content {
  width: 1080px;
  margin-left: 10%;
}

.logo {
  width: 100px;
  height: auto;
}

.logo-div {
  background-color: #3b5998;
  padding: 0px;
  border-top: 0px;
  margin-top: 0px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .82);
}

.current-user-img {
  float: left;
  display: inline-block;
  width: 120px;
  height: auto;
}

.current-user-img-div{
  height: 200px;
  width: 200px;
  display: inline-block;
  float: left;
}

.current-user-name {
  width: 600px;
  float:left;
  font-size: 25px;
  display: inline-block;
}

.current-user-div {
  width: 800px;
  height: 200px;
  margin-top: 15px;
}

.game-displays {
  height: auto;
  display:inline-block;
  float: right;
  width: 870px;
  margin-top: 15px;
}
