// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-edit-link {
  display: inline-block;
  font-size: 50%
}

.member-info {
  width: 585px;
  text-align: right;
}

.member-info label {
  display: inline-block;
  float: left;
  margin-left: 32px;
}

.edit-icon{
  width: 20px;
  height: auto;
}

.current-user-name a {
  color: black;
  display: inline-block;
}



.current-user-div {
  width: 800px;
  height: 200px;
}

.current-user-div a {
  display: inline-block;
  width: 120px;
  text-align: center;
}

#top-info {
  margin-top: -28px;
}
