.profile-edit-picture{
  display: inline-block;
  float: right;
  margin-right: 20%
}

.user-edit-form{
  display: inline-block;
  float: left;
}

.user-edit-form label {
  display: inline-block;
  margin-top: 30px
}

.user-edit-form .button{
  margin-top: 10px
}
