// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-edit-link {
  display: inline-block;
  font-size: 50%
}

.member-since-label{
  font-size: 15px;
}

.edit-icon{
  width: 20px;
  height: auto;
}
